Source: odin
Section: unknown
Priority: optional
Maintainer: Tobias Eliasson <arnestig@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/odin.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/odin.git

Package: odin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
