Source: odinip
Section: web
Priority: optional
Maintainer: Tobias Eliasson <arnestig@gmail.com>
Build-Depends: debhelper (>= 9), dh-apache2
Standards-Version: 3.9.8
Homepage: https://github.com/arnestig/odin
Vcs-Git: https://github.com/arnestig/odin.git
Vcs-Browser: https://github.com/arnestig/odin.git

Package: odinip
Architecture: any
Recommends: apache2 | httpd
Depends: php, php-pgsql, php-gd, perl, libdbd-pg-perl, libdbi-perl, libhttp-date-perl, postgresql, postgresql-contrib
Description: IP plan management and tracker
 IP plan management and tracker
